<div>
  <div><span>Choose a Genre: </span></div>
  <input type="radio" name="preferredGenre" id="all" value="All" [(ngModel)]="preferredGenre">
  <label for="all">
    Any
  </label>
  <input type="radio" name="preferredGenre" value="Action" id="actionOption" [(ngModel)]="preferredGenre">
  <label for="actionOption">
    Action
  </label>
  <input type="radio" name="preferredGenre" value="Comedy" id="comedyOption" [(ngModel)]="preferredGenre">
  <label for="comedyOption">
    Comedy
  </label>
  <input type="radio" name="preferredGenre" value="Drama" id="dramaOption" [(ngModel)]="preferredGenre">
  <label for="dramaOption">
    Drama
  </label> 
</div>